<div class="mx-3 home-page">
  <div class="input-group mb-3 shadow-soft rounded py-2">
    <span class="input-group-text px-4 border-0 bg-white">
      <i
        class="fa-solid fa-magnifying-glass"
        style="color: var(--dark-gray)"
      ></i>
    </span>
    <input
      type="text"
      class="form-control border-0 focus-ring focus-outline-none placeholder-text-gray"
      placeholder="Search for a country"
      style="color: var(--dark-gray)"
      ng-model="search"
    />
  </div>
  <ul class="list-group">
    <li
      class="list-group-item"
      ng-repeat="country in countries | filter: search | orderBy: 'name.common'"
    >
      <a
        href="/countries/{{country.name.common}}"
        class="text-decoration-none"
      >
        <div ng-include="'country.html'"></div>
      </a>
    </li>
  </ul>
</div>
