<header class="mb-4">
  <nav class="navbar navbar-expand px-4 bg-white shadow-sm">
    <a class="navbar-brand fw-bold" href="/">Where in the world</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#collapsableNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapsableNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <i class="fa-regular fa-moon me-2"></i> Dark Mode
        </li>
      </ul>
    </div>
  </nav>
</header>
